@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BookStore</h1>
    <div>
        <img display="block" margin-left="auto" margin-right="auto;" width="500px" src="/images/bookstore.PNG" alt="bookstore">
    </div>

    <div>



        <a class="btn btn-lg btn-success"     asp-controller="Home" asp-action="SupplierRetail" >
            <i class="fa fa-search fa-2x pull-left">Suppliers & Their Retail Items</i>
        </a>



    </div>



</div>


